h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role='list'],
ul[role='list'] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

@import url('../fonts/Bank\ Gothic\ Light\ Regular.otf');
@import url('../fonts/bank\ gothic\ medium\ bt.ttf');
@import url('../fonts/BankGothicMediumBT.ttf');
@import url('../fonts/BankGothic\ Md\ BT.ttf');
@import url('../fonts/BankGothic\ Bold.ttf');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    --main-gold: #ffc100;
}